@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Merriweather&family=Roboto+Slab&family=Rubik+Wet+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Londrina+Shadow&family=Macondo&family=Milonga&family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: #4b5563;
  --light-grey: lightgrey;
}

html {
  scroll-behavior: smooth;
  background: rgb(83, 136, 191);
  background: linear-gradient(
    0deg,
    rgba(83, 136, 191, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

/******* Container *********/
.container {
  padding: 0rem 1rem;
  max-width: 100%;
}

.container-center {
  max-width: 600px;
  margin: auto;
}
h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

i {
  margin: 0rem 1.5rem;
}

:-webkit-any(article, aside, nav, section) h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/******* Section *********/
.section {
  padding: 2rem;
}

.section h1 {
  text-align: center;
}

.lp {
  background-color: var(--light-grey);
}

.lp p {
  text-align: center;
}

/*******  Nav Section *********/
#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  background-color: rgb(0, 0, 0, 0.5);
  height: 50px;
  position: sticky;
  top: 0;
}

li {
  display: inline;
  list-style: none;
  font-size: 1.8rem;
}

#logo {
  color: rgb(36, 136, 106);
  margin: 10px;
}

#logo img {
  height: 40px;
  width: 40px;
  filter: invert();
}

#name {
  font-family: "Rubik Wet Paint", cursive;
  font-size: 2.5rem;
  background: linear-gradient(to right, #d1fffd 20%, #68e8ff 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#check,
.menu-btn {
  display: none;
}

.menu {
  color: whitesmoke;
}

.menu li {
  margin: 2rem;
  font-weight: bolder;
  font-family: "Roboto Slab", serif;
}
.menu li a:hover {
  transition: all 0.3s ease-in-out;
  font-family: "Baloo Bhai 2", cursive;
  color: rgb(136, 172, 170);
  font-variant: small-caps;
}

/*******  Head Section *********/
.hero .hero-heading {
  text-align: center;
  padding: 3rem 0rem;
  color: lightgrey;
  font-size: 5rem;
  font-family: "Londrina Shadow", cursive;
  letter-spacing: 5px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.hero .hero-img {
  max-width: 400px;
  width: 100%;
  display: block;
  margin: auto;
}

/*******  Project Section *********/
.section {
  padding: 2rem;
  display: block;
}
.section h1 {
  text-align: center;
}

.tech-head-proj {
  font-family: "Righteous", cursive;
  font-size: 3rem;
  letter-spacing: 4px;
  color: #374151;
  padding-bottom: 1rem;
}
.tech-head {
  font-family: "Righteous", cursive;
  font-size: 3rem;
  letter-spacing: 4px;
  color: #9fa9b8;
  padding-bottom: 1rem;
}
.img-proj {
  max-width: 400px;
  display: block;
  width: 100%;
  height: 85%;
  margin: auto;
  padding: 2px;
  border: 2px solid grey;
}
.centralise {
  text-align: center;
}
.tech-font-proj {
  font-family: "Work Sans", sans-serif;
  font-size: 1.3rem;
  text-align: center;
  line-height: 2.3rem;
}

.proj-btn {
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.link {
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 2rem;
  margin: 0rem 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  color: #497cb8b4;
  background-color: whitesmoke;
}

.link:hover {
  background-color: #497cb8b4;
  color: lightgrey;
  transition: 0.5s;
}

.link-primary {
  background-color: #497cb8b4;
  border-radius: 0.8rem;
  color: whitesmoke;
}

.link-primary:hover {
  color: #497cb8b4;
  background-color: whitesmoke;
  transition: 0.8s;
}

/*******  Footer Section *********/
footer {
  background-color: rgb(115, 152, 192);
  font-family: "Baloo Bhai 2", cursive;
  color: rgba(245, 245, 245, 0.8);
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
  padding: 2rem;
}

#f-name {
  font-family: "Macondo", cursive;
}
#f-head {
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.8);
}

/*******  Social Section *********/
.SocialImg {
  width: 40px;
  height: 40px;
  margin: 20px;
}

/*******  Media Query Section *********/
@media screen and (max-width: 1080px) {
  .menu {
    position: fixed;
    top: 40px;
    left: -150%;
    height: 40vh;
    background: rgb(0, 0, 0, 0.8);
    text-align: center;
    width: 100%;
    display: block;
    transition: all 0.3 ease;
  }

  #check:checked ~ .menu {
    left: 0%;
  }

  .menu li {
    margin: 20px;
    display: block;
  }

  .menu-btn {
    display: block;
    color: whitesmoke;
  }

  #check:checked ~ .menu-btn i::before {
    content: "\f00d";
  }

  .link {
    display: inline-block;
    margin: 1rem 1rem;
  }
}

@media screen and (max-width: 950px) {
  #section {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
    margin: 1rem auto;
  }
}
