@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Merriweather&family=Roboto+Slab&family=Rubik+Wet+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Macondo&family=Milonga&family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgb(83, 136, 191);
  background: linear-gradient(
    0deg,
    rgba(83, 136, 191, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

/*******  Nav Section *********/
#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  background-color: rgb(0, 0, 0, 0.5);
  height: 50px;
  position: sticky;
  top: 0;
}

li {
  display: inline;
  list-style: none;
  font-size: 1.8rem;
}

#logo {
  color: rgb(36, 136, 106);
  margin: 10px;
}

#logo img {
  height: 40px;
  width: 40px;
  filter: invert();
}

#name {
  font-family: "Rubik Wet Paint", cursive;
  font-size: 2.5rem;
  background: linear-gradient(to right, #d1fffd 20%, #68e8ff 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#check,
.menu-btn {
  display: none;
}

.menu {
  color: whitesmoke;
}

.menu li {
  margin: 2rem;
  font-weight: bolder;
  font-family: "Roboto Slab", serif;
}
.menu li a:hover {
  transition: all 0.3s ease-in-out;
  font-family: "Baloo Bhai 2", cursive;
  color: rgb(136, 172, 170);
  font-variant: small-caps;
}

/*******  About Section *********/
#sec {
  grid-template-rows: repeat(3, 1fr);
}

#section {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 5rem;
  color: #d1fffd;
}

#about {
  margin: 2rem 2rem;
  text-align: center;
}

#intro {
  font-family: "Lobster", cursive;
}

.bio {
  font-family: "Milonga", cursive;
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
}

/*******  Technology & Project Section *********/
.section {
  padding: 50px;
  text-align: center;
}

.container {
  max-width: 700px;
  margin: auto;
}

.tech-head {
  font-family: "Righteous", cursive;
  font-size: 3rem;
  letter-spacing: 4px;
  color: #a4faf7;
  margin: 20px;
}
.tech-font {
  font-family: "Work Sans", sans-serif;
  font-size: 1.7rem;
  letter-spacing: 1.5px;
  line-height: 2.5rem;
  color: #c4fffd;
}

/*******  Project Section *********/

#projects {
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
}

#projects h1 {
  padding-bottom: 20px;
  color: #a5f1ee;
  font-family: "Merriweather", serif;
}

.pro-list {
  display: flex;
  justify-content: space-evenly;
}

.pro img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
}
.pro {
  font-family: "Merriweather", serif;
  color: #84dbd8;
}

.pro img:hover {
  border-radius: 45%;
}

/*******  Footer Section *********/
footer {
  background-color: rgb(115, 152, 192);
  font-family: "Baloo Bhai 2", cursive;
  color: rgba(245, 245, 245, 0.8);
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
  padding: 2rem;
}

#f-name {
  font-family: "Macondo", cursive;
}
#f-head {
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.8);
}

/*******  Social Section *********/
.SocialImg {
  width: 40px;
  height: 40px;
  margin: 20px;
}

/*******  Media Query Section *********/
@media screen and (max-width: 1060px) {
  .menu {
    position: fixed;
    top: 40px;
    left: -150%;
    height: 40vh;
    background: rgb(0, 0, 0, 0.8);
    text-align: center;
    width: 100%;
    display: block;
    transition: all 0.3 ease;
  }

  #check:checked ~ .menu {
    left: 0%;
  }

  .menu li {
    margin: 20px;
    display: block;
  }

  .menu-btn {
    display: block;
    color: whitesmoke;
  }

  #check:checked ~ .menu-btn i::before {
    content: "\f00d";
  }
}

@media screen and (max-width: 950px) {
  #section {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
    margin: 1rem auto;
  }

  #Profile-pic {
    margin: 0 auto;
  }

  #about {
    margin: 15px auto;
    text-align: center;
    height: 300px;
    overflow: scroll;
  }
  #projects {
    text-align: center;
    margin-top: 1rem;
    padding-left: 1rem;
  }

  .pro-list {
    display: block;
    height: 400px;
    overflow-y: auto;
  }
  .pro {
    font-family: "Merriweather", serif;
    color: #84dbd8;
    font-size: 2rem;
  }
  .pro img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
}
